---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About AllOS.dev - like a magazine';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img src="/assets/about-generic.jpg" alt="photo of london building with lattice" width="330">
      <figcaption>
        Illustration by
        <a href="https://pixabay.com/photos/london-train-england-urban-britain-2682503/" target="_blank" rel="noopener">Pixabay (royalty free)</a>
      </figcaption>
    </figure>
    <h2>Digital Magazine On Cross-Platform Dev</h2>
    <p>More to come, but for now (as of 2025-06-23), here are links to my GitHub repos and some other details.</p>
    <p>
    <ul>
       <li>Cross-Platform Password Generator / Manager - Doesn't story your password anywhere but generates it every time. <a href="https://github.com/raddevus/CYaPass-Electron" target="_blank">Written in ElectronJS.[^]</a><img src="https://private-user-images.githubusercontent.com/16722666/339368491-a1bd330f-72a6-4445-b895-eb37c4fbec1d.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3NTA3NzA0NTMsIm5iZiI6MTc1MDc3MDE1MywicGF0aCI6Ii8xNjcyMjY2Ni8zMzkzNjg0OTEtYTFiZDMzMGYtNzJhNi00NDQ1LWI4OTUtZWIzN2M0ZmJlYzFkLnBuZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNTA2MjQlMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjUwNjI0VDEzMDIzM1omWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPWRkYzI3ZjM4ZDgyNWQ2OWE2NGMyZmNlNTEwZWZmZDI4N2UyMDZjNGU1NTE1ZGJhNTE1MDg0NWQ3Yjg1MDAzYTYmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0In0.ycG8lUXTUTm0XvraKubNJzRvcZvZfpaaTFO2txm1mTQ"></li>
       <li>Cross-Platform Task Manager, DiscoProcs - inspect running processes & terminate them (<a href="https://github.com/raddevus/DiscoProcs" target="_blank">written in C# .NET[^]</a>)
          <img src="/assets/DiscoProcs-Explanation.png">
       </li>
    </ul>
    </p>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
