---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Build Cross-Platform Apps';
const description = 'Articles, source code and more for creating cross-platform apps.';
const permalink = Astro.site.href;
---
<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home-container">
     <div class="home-copy">
        <h1>Writing Cross-Platform Apps For Discovery & Learning</h1>

        <h2>Does Anyone Still Want To Learn To Program?</h2>

        <p>I've been writing software applications and creating automated solutions for over 30 years now and I still love to write code to create software solutions.</p>

        <p>Does anyone else still want to learn to write applications or do they just want the end result?</p>

        <p>I hope so, because this book is entirely dedicated to teaching you how to write code so you can create applications that run on all three major Operating System (OS) Platforms (Linux, macOS, Windows).</p>

        <p>We will create a cross-platform TaskManager which will allow you to examine running processes (apps) on any computer.  You can see the final result further along in this chapter and you can get all the source code for free.  More on all of this but first, let's talk about end results.</p>

        <h2>Companies Want The End Result</h3>

        <p>Companies, which must produce more money than they burn, in order to survive, just want the end result.  They don't care how they get to the end result, they just want The Thing and they want it cheaper.  The most expensive thing for a company is an employee.</p>

        <p>To those companies, an employee is just a resource, like any desk, chair or keyboard that the company owns.  When the chair breaks or keyboard no longer works the way the company wants, then they throw it out and get another.  Unfortunately, you, as an employee, are seen the same way as the chair.</p>

        <h2>Focusing On End Result: Good For Companies, Bad For Employees</h2>

        <p>Companies are all-in on AI because they just want the result. <br> 
        If you have little experience, then you too may be extremely excited about AI.  You may finally be able to create that little app you've always wanted to create but never could because you never learned to program.</p>

        <p>It may feel quite satisfying to get to the result that you've dreamed about for so long.  I understand that.</p>

<h3>Satisfaction: Directly Proportional To Effort Applied</h3>

<p>But, it is likely that you'll soon discover that it's not terribly satisfying because satisfaction of accomplishing a task is directly proportional to the amount of effort required to obtain the result.</p>

<h2>Why Would Anyone Want To Learn In The Age of AI?</h2>
<p>If everyone can just get to the end result then who will care about the process?<br>
If everyone can just write apps, then why does the process of writing code matter?<br>
Why would anyone want to do anything that AI can do for them?<br></p>

<h2>When AI Can Do Everything, Humans Will Lose Purpose</h2>

<p>Will there be an even greater loss of purpose for humans?  Probably.</p>

<p>Many people have a shallow belief that "work is bad" but that's not exactly correct.<br> 
A better statement would be: "bad work is bad".</p>

<p>Here's a supporting quote from the book, Reality Is Broken: Why Games Make Us Better and How They Can Change the World, by Jane McGonigal  (Check out <a href="https://amzn.to/3H20ioM" target="_blank">the book</a> Amazon.) </p>

<blockquote>"Games make us happy because <strong>they are hard work that we choose for ourselves</strong>, and it turns out that almost nothing makes us happier than good, hard work."</blockquote>

<p>Maybe you don't believe work makes you happy.  Take a look at a four year old child who is intently playing and you'll see that they are so serious about playing that it is as if they are working.  It's good work.</p>

<p>Jane McGonigal goes on to say:</p>

<blockquote>Brian Sutton-Smith, a leading psychologist of play, once said, “The opposite of play isn’t work. It’s depression.”</blockquote>

<p>And it's true.</p>

<p>A lack of work doesn't create happiness.  The ability to work on the things that bring you enjoyment does.</p>

<p> Why do I still (after 30 years) like to write code and create software solutions?  What is it that makes it so satisfying?</p>
<h2> Discovery and Learning</h2>

I recently wrote a cross-platform (Linux, macOS, Windows) TaskManager using C\# .Net Core, for the two reasons I like to write any software:

1. **Discovery** \- find out what is possible  
2. **Learning** \- learn more about how technologies work (and don't)

The User Interface was written in HTML, CSS (using Bootstrap), JavaScript and ReactJS for some grid views.

Here's what it looks like.  It's nowhere near perfect, but I keep working on the UI to make it better.  (There's even a right-click context menu – which I had to build in HTML/CSS – which gives the user more functionality.)

![][image1]  
**Caption**: Snapshot of DiscoProcs (Discover Processes) running on my Ubuntu 24.04 Linux desktop running KDE Plasma (desktop manager).

## Follow Along and Learn

Are you interested in learning C\# .Net Core, how to build a WebAPI, HTML, CSS (including Bootstrap), JavaScript, ReactJS, Git and some other things?   
If you are interested, follow along and I'll take you step-by-step through how to build the app.  

By the time you work your way through this series of articles, you will have gained a lot of knowledge about how to build a cross-platform app using C\#.  You'll also have a complete TaskManager application which you can run anywhere (Linux, macOS, Windows10/11).  

## Get The Source Code At GitHub

All the source code is FOSS (Free & Open Source Software) so you can alter the code and use it anywhere you like.  You can get the source code right now at: [https://github.com/raddevus/DiscoProcs](https://github.com/raddevus/DiscoProcs)

## Run The App, Learn About System Processes & More

You can get the executable DiscoProcs app and run it on your system right now.  
Just follow the steps for your Operating System (OS).  
[https://allos.dev/downloads](https://allos.dev/downloads)

Here's a list of what the cross-platform TaskManager will allow the user to do:

1. **View all processes** which are running on the computer  
2. **View process details,** including  
   1. Process name  
   2. PID (Process ID) ID the OS assigns to the running process  
   3. Path to location where executable is running from  
   4. Exe file date (used as a way to track when the file changes)  
   5. Exe File size (on disk)  
   6. Number of bytes the running process takes in memory  
   7. SHA-256 hash of the exe file (allows us to fingerprint the Exe so we can identify it) – we will learn all about this as we write the code  
3. **Stop any running process**  
4. **Save a Process Snapshot** \- save all processes & related data to a local Sqlite database  
5. **Display a list of all the modules** (program functionality wrapped in code libraries) that the program uses  
6. **Display New Processes** \- Once you take a Process Snapshot, you can then run \[Show New Procs\] functionality and it will examine all the running processes, compare them to the ones that you've stored in the local Sqlite database and determine if they've been captured in the past.  This can give the user an idea of processes that are running that haven't run in the past & provides insight to possible changes to the system.  
7. **Quick Start Any App** \- Add a list of programs you'd like to start then later you can start all of them at once if you like.  Or, you can add parameters to an app that you'd like to start in a particular state and start the app in that state.  
8. **Display all SpecialFolders** \- special folders are locations where the current user can save files and run apps from. These are defined on all platforms (Linux, macOS, Windows) and it can be very helpful to know where they are for discovering where files are located.  
9. **Display Environment Variables** \- Environment variables are Operating Systems values which are used by various running processes. 
    </div>
  </div>
</BaseLayout>

<style>
  .home-container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 2em 0;
    min-height: 400px;
  }

  .home-copy {
    flex: 1;
    padding: 0 1em;
  }

  .home-copy h1 {
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1.3;
  }

  .home-copy p {
    font-size: 1.4em;
  }

  .hero-image-container {
    margin: 0 1em;
    text-align: center;
  }

  .hero-image-container picture {
    display: block;
    min-height: 250px;
  }

  .caption {
    font-size: .8em;
    font-style: italic;
    text-align: left;
  }

  .hero-image {
    width: 100%;
    max-width: 550px;
    margin-bottom: 1em;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 1.2em;
    }

    .hero-image {
      max-width: 400px;
    }
  }

  @media (max-width: 800px) {
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      padding-bottom: 2em;
      text-align: center;
    }
  }
</style>
